.link {
  font-size: var(--BodyText);
  z-index: 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
}
.link .lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: reverse column;
          flex-direction: reverse column;
  position: fixed;
  -webkit-animation: slideInBottom 1.5s ease-in-out 0s 1 normal forwards;
          animation: slideInBottom 1.5s ease-in-out 0s 1 normal forwards;
  bottom: 0;
}
.link .lien .line {
  width: 2.5px;
  height: 124.5px;
  background-color: var(--colorTextTitle);
}
.link .lien a {
  margin-bottom: 30px;
}
/* NOTE */
.link .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  left: 5%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}
.link .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2 / 5 / 3 / 6;
  right: 5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.link .right .email {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: var(--DetailText);
  text-transform: lowercase;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* responsive */
/* mobile S to mobile L */
@media screen and (max-width:768px) {
  .link {
    display: none;
  }
}


@-webkit-keyframes slideInBottom {
  0%, 50% {
    opacity: 0;
    bottom: -20%;
  }
  

  100% {
    opacity: 1;
    bottom: 0px;
  }
}


@keyframes slideInBottom {
  0%, 50% {
    opacity: 0;
    bottom: -20%;
  }
  

  100% {
    opacity: 1;
    bottom: 0px;
  }
}