---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="h-auto px-[15%] grid grid-cols-1 grid-rows-6 gap-20 place-items-center text-darkForeground"
  >
    <NavBar />
    <!-- hero -->
    <!-- hello -->
    <section class="w-full h-screen grid grid-cols-2 grid-rows-1 place-items-center gap-8">
      <!-- gauche -->
      <Card>
        <div class="flex flex-col gap-4">
          <p class="text-xl">Hello there, my name is</p>
          <h1 class="text-6xl text-darkPrimary">Cordovana Enzo</h1>
          <div class="flex items-center text-nowrap gap-4">
            <div class="w-full h-[2px] bg-darkForeground"></div>
            <p class="text-xl font-semibold">Font-end Web Developer</p>
          </div>
        </div>
        <!-- intro -->
        <p class="text-md">
          I'm a student in my first year of a Computer Science degree at the IUT
          in Aix-en-Provence.
        </p>
        <!-- btns -->
        <div class="flex gap-6">
          <Button color="primary" variant="solid">Say Hello!</Button>
          <Button color="primary" variant="light">My projects</Button>
        </div>
      </Card>
      <!-- droite -->
      <div class="w-full h-fit grid place-items-center">
        <Card addStyleParent="relative">
          <img src="" class="w-[250px] aspect-[1/1.5] rounded-sm bg-darkPrimary" alt="photo de moi">
          <!-- data -->
          <Card addStyleParent="absolute top-[-30px] left-[-115px]">
            <!-- projets -->
            <div>
              <p class="text-nowrap font-semibold">Projets :</p>
              <span class="text-darkPrimary font-heading text-4xl">12</span>
            </div>
            <!-- line -->
            <div class="h-[2px] w-full bg-darkForeground"></div>
            <!-- clients -->
            <div>
              <p class="text-nowrap font-semibold">Clients :</p>
              <span class="text-darkPrimary font-heading text-4xl">2</span>
            </div>
          </Card>
          <!-- rating -->
          <Card addStyleParent="absolute bottom-[-30px] right-[-110px]">
            <div>
              <p class="text-nowrap font-semibold">Score :</p>
              <span class="text-darkPrimary font-heading text-4xl">4.5</span>
            </div>
          </Card>
        </Card>
      </div>
    </section>

    <!-- about -->
    <section class="">
1
    </section>

    <!-- à propos -->
    <section>2</section>

    <!-- compétences -->
    <section>3</section>

    <!-- projets -->
    <section>4</section>

    <!-- contact -->
    <section>5</section>
  </main>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
