---
import Cercle from "./Cercle.astro";
interface Props {
	addStyleParent?: string;
	addStyleChild?: string;
}
const { addStyleParent, addStyleChild } = Astro.props

---

<div class=`w-fit h-fit border-2 border-[#202020] bg-[#2020201a] rounded-md p-8 backdrop-blur-[2px] ${addStyleParent}`>
	<div class="flex gap-2 pb-8">
		<!-- cercles -->
		<Cercle color="accent"/>
		<Cercle color="accent"/>
		<Cercle color="accent"/>
	</div>
	<div class=`flex flex-col gap-8 ${addStyleChild}`>
		<slot/>
	</div>
</div>